# Env files
**/.env
**/.env.*

# Node modules
**/node_modules/

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.tfvars

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build
**/dist/
**/build/
